<h2>Add New User</h2>
<a href="index.php"><button> View All Contacts</button></a>
<br/>
<br/>
  <table>
      <form action="" method="POST" id="insert_form">
          <tr>
              <td><label for="user">Username : </label></td>
              <td><input type="text" name="user" id="user" placeholder="Enter username..."/></td>
          </tr>          
          <tr>
              <td><label for="email">Email : </label></td>
              <td><input type="email" name="email" id="email" placeholder="Enter email..." /></td>
          </tr>
          <tr>
              <td><input type="submit" name="save" value="Save" /></td>
          </tr>       
      </form>                
  </table>
