<table style="margin:0 auto;">
    <tr>
        <!--TD-START-->
        <td>
            <table border="1" cellpadding="3" cellspacing="5">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>User</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>--COUNTER--</td>
                        <td>--USER--</td>
                        <td>--EMAIL--</td>
                    </tr>
                </tbody>    
            </table>
        </td> 
        <!--TD-END-->
    </tr>
    <!--TR-END-->
</table>

    